NET "S<0>" LOC = "G12"; # BTN0
NET "S<1>" LOC = "G11"; # BTN1
NET "S<2>" LOC = "M4"; # BTN2

NET "D<0>" LOC = "P11"; # SW0
NET "D<1>" LOC = "L3"; # SW1
NET "D<2>" LOC = "K3"; # SW2
NET "D<3>" LOC = "B4"; # SW3
NET "D<4>" LOC = "G3"; # SW4
NET "D<5>" LOC = "F3"; # SW5
NET "D<6>" LOC = "E2"; # SW6
NET "D<7>" LOC = "N3"; # SW7

NET "Y" LOC = "M5"; # LD0